<form [formGroup]="formGroup">
  <ng-container *ngIf="hasControls; else noData">
    <div
      [formGroupName]="formGroupControlName"
      *ngFor="let formGroupControlName of formGroupControlNames"
    >
      <div
        [formGroupName]="columnFormGroupControlName"
        *ngFor="
          let columnFormGroupControlName of columnFormGroupControlNamesOf(
            formGroupControlName
          )
        "
      >
        <app-match-control formControlName="value"></app-match-control>
        <span>
          {{ playerName(formGroupControlName, columnFormGroupControlName) }}
        </span>
        <span
          data-test-id="column-error"
          *ngIf="
            isColumnErrornous(formGroupControlName, columnFormGroupControlName)
          "
        >
          {{
            columnErrorMessage(formGroupControlName, columnFormGroupControlName)
          }}
        </span>
      </div>
    </div>
    <div></div>
  </ng-container>
  <ng-template #noData>
    No data :(
  </ng-template>
  <button
    data-test-id="execute-play-button"
    type="button"
    (click)="onExecutePlay()"
  >
    Finish Play
  </button>
  <button
    data-test-id="execute-play-button"
    type="button"
    (click)="onReset()"
  >
    Reset Game
  </button>
</form>
