<form [formGroup]="formGroup">
  <ng-container *ngIf="hasControls; else noData">
    <div
      class="d-flex justify-content-around"
      [formGroupName]="formGroupControlName"
      *ngFor="let formGroupControlName of formGroupControlNames"
    >
      <div
        [formGroupName]="columnFormGroupControlName"
        *ngFor="let columnFormGroupControlName of columnFormGroupControlNamesOf(formGroupControlName)"
      >
        <app-match-control
          formControlName="value"
          [id]="uniqueFormControlId(formGroupControlName, columnFormGroupControlName)"
        ></app-match-control>
        <app-player-batch [name]="playerName(formGroupControlName, columnFormGroupControlName)"></app-player-batch>
      </div>
    </div>
    <div></div>
  </ng-container>
  <ng-template #noData>
    No data :(
  </ng-template>
  <div class="row mt-5">
    <div class="mt-5 btn-group mx-auto" role="group">
      <button data-test-id="execute-play-button" type="button" class="btn btn-info" (click)="onExecutePlay()">
        End Play
      </button>
      <button data-test-id="reset-button" type="button" class="btn btn-light" (click)="onResetGame()">
        Reset Game
      </button>
    </div>
  </div>
</form>
