<form [formGroup]="formGroup">
  <ng-container *ngIf="hasControls; else noData">
    <div
      [formGroupName]="formGroupControlName"
      *ngFor="let formGroupControlName of formGroupControlNames"
    >
      <app-match-control
        *ngFor="let formControlName of formContolNamesOf(formGroupControlName)"
        [formControlName]="formControlName"
      ></app-match-control>
    </div>
    <div></div>
  </ng-container>
  <ng-template #noData>
    No data :(
  </ng-template>
  <button
    data-test-id="execute-play-button"
    type="button"
    (click)="onExecutePlay()"
  >
    Finish Play
  </button>
</form>
